
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Device Manager</title>

<style>
*{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
    max-width: 350px;
    margin:0 auto;
}
.shell{
    text-align: center;
    background: #f1f1f1;
    padding: 10px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width:200px;
}
.btn-on {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-off {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
ul{
    padding:0px;
    margin-top:25px;
}
li{
    list-style:none;
    padding:0px;
    padding-bottom:20px;
}

</style>

</head>
<body class="container">

<header>
</header>

<main>
    <div class="shell" >
        <h3>Available Devices</h3>
<ul>
    <% devices.forEach(function(device,i) { %>
        <li><button type="button" onClick="toggleGPIO(this,<%=device.id %>)" class="btn btn-<%=device.status=='ON'?'on':'off'%>"><%= i+1 %> - <%= device.name %>  </button></li>
    <% }); %>
</ul>
	<footer>
		<p>© Copyright usforweb.com</p>
	</footer>
    </div>
</main>

<script>
function callAjax(url, callback){
    var xmlhttp;
    // compatible with IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function(){
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
            callback(xmlhttp.responseText);
        }
    }
    xmlhttp.open("GET", url, true);
    xmlhttp.send();
}
function toggleGPIO(e,id){
    e.disabled=true;
    callAjax(id,function(data){
        var status=data.trim();
        if(status=='ON'){
            e.className='btn btn-on';
        }else{
            e.className='btn btn-off';
        }
        e.disabled=false;
    });
}
</script>
</body>
</html>
